body {
    font-family: 'Inter';
}

.row {
    margin: 0;
}

.container {
    padding: 70px 0;
}

p, li {
    font-size: 16px;
    color: #fff;
}

/* Barra de navegação */
header, .navbar {
    background-color: #83cbd4;
}

#nav-container {
    padding-top: 0;
    padding-bottom: 0;
}

#logo {
    width: 15%;
    margin-left: 50px;
}

.navbar-brand {
    padding: 0;
    color: #fff;
}

.nav-link{
    color: #fff !important;
    transition: .5 all !important;
    border-radius: 5px;
}

.nav-link:hover {
    color:#83cbd4 !important;
    background-color: white;

}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 1rem .8rem;
}